nrf_sdks/*
!nrf_sdks/README.md
.DS_Store/*
_build/
build/

BUILD/
mbed-os/

site
factory_test_app
dfu
open_bootloader/dfu_private_key.pem

mkdocs-material/*
material/*

.idea
.build
.mbed
projectfiles
*.py*